/* fonts start */
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 400 */

.playwrite-cu {
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* fonts end */


.ttg{
  color: rgb(255, 0, 0);
}

/* main start */
/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
} */

.cnt{
  width: 100%;
  height: 90vh;
  /* background-color: rgba(0,0,0,0.4); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cnt{
  text-align: center;
}

.content h1{
  margin-top:150px ;
  font-size: 95px;
  color: #fff;
  margin-bottom: 50px;
}

.content a{
  font-size: 23px;
  background-color: #fff;
  color: black;
  text-decoration: none;
  /* border: 2px solid #fff; */
  padding: 15px 25px;
  border-radius: 50px;
  transition: 0.3s;
}

.content a:hover{
  background-color: rgb(135, 134, 134);
  color: white;
}

.background-clip{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio:16/9) {
  .background-clip{
    width: max-content;
      height: auto;
  }
}

@media (max-aspect-ratio:16/9) {
  .background-clip{
      width: auto;
      height:100%;
      }
}


/* main end */
/* must start */
.must{
  width: 100%;
  height: 100vh;
  background-color: orange;
  background-image: url(main4.jpeg);
  background-size: cover;
  background-position: center;
  /* transform: scaleX(-1); */
  position: relative;
}

.must > h1 {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  /* transform: scaleX(-1); */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  padding-top: 5em;
  padding-left: 1em;
  background-image: linear-gradient(to right,
  rgba(0,0,0,1),
  rgba(0,0,0,.7),
  rgba(0,0,0,.4) ,
   rgba(0,0,0,0) );
}

/* must end */


.lrn{
  position: relative;
}
.lrn > h1{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  padding-top: 5em;
  padding-left: 1em;
  font-size: 50px;
}



.abt{
  position: relative;
}
.abt > h1{
  position: absolute;
   left: 0;
  top: 0;
   width: 100%;
  height: 100vh;
  padding-top: 3em;
  padding-left: 5.5em;
  font-size: 100px;  
  color: white;
  
}

.yt{
  padding-left: 150px;
}